<template>
  <v-container class="setting">
    <v-row>
      <v-col cols="12" justify="center" class="mt-5" align="center">
        <h3 class="title">Reminder History</h3>
        <div v-if="loading" class="loading-indicator">Loading...</div>
        <div v-else>
          <div
            v-for="(reminder, index) in reminders"
            :key="index"
            class="reminder-card"
            @click="navigateToMedicineInput(reminder.medicineId)"
          >
            <!-- Icon on the left -->
            <div class="icon-container">
              <v-icon
                :color="reminder.selectedIcon.color"
                size="80"
                class="icon ml-3"
              >
                {{ reminder.selectedIcon.icon }}
              </v-icon>
            </div>
            <div class="content">
              <div class="name">
                <strong>{{ reminder.prescription }}</strong>
              </div>
              <div class="date-created">
                {{ formatDate(reminder.dateCreated) }}
              </div>
              <div class="time">
                <strong>Time:</strong>
                <span
                  v-for="(dose, doseIndex) in reminder.doses"
                  :key="doseIndex"
                >
                  {{ dose.time }}
                  <template v-if="doseIndex < reminder.doses.length - 1"
                    >,</template
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import firebase from "firebase";
import moment from "moment";

export default {
  data() {
    return {
      reminders: [],
      loading: false,
    };
  },
  mounted() {
    this.RenderReminders();
  },
  methods: {
    navigateToMedicineInput(medicineId) {
      this.$router.push({ name: "MedicineView", params: { id: medicineId } });
    },
    async RenderReminders() {
      const user = firebase.auth().currentUser;
      if (!user) return;
      this.loading = true;

      try {
        const reminders = await this.$dbGet(`users/${user.uid}/medicines/`);
        this.reminders = reminders || [];
      } catch (error) {
        console.error("Error fetching reminders:", error);
      } finally {
        this.loading = false;
      }
    },
    formatDate(dateString) {
      return moment(dateString).format("DD/MM/YYYY");
    },
  },
};
</script>

<style scoped>
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.reminder-card {
  display: flex;
  border: 1px solid #cccccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.icon-container {
  flex: 0 0 auto;
  margin-right: 10px;
}

.icon {
  margin-top: 10px;
}

.content {
  flex: 1;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.date-created {
  font-size: 1rem;
  margin-bottom: 5px;
}

.time {
  font-size: 1rem;
}

.loading-indicator {
  text-align: center;
  margin-top: 20px;
}
</style>
