<template>
  <v-container class="home">
    <h3 class="mt-5">Hello {{ this.name }}</h3>
    <h4>Have a nice day</h4>
    <div class="date-carousel mt-5">
      <div class="date-items">
        <div
          v-for="(date, index) in futureDateRange"
          :key="`date-${index}`"
          class="date-item"
          :class="{ selected: date.selected }"
          @click="selectDate(date)"
        >
          <div class="date-text">
            <div class="date-month">{{ date.month.toUpperCase() }}</div>
            <div class="date-day">{{ date.day }}</div>
            <div class="date-weekday">{{ date.weekday.toUpperCase() }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="selected-date">
      Daily medicines - {{ formattedSelectedDate }}
    </div>
    <div class="reminder-cards mt-5">
      <div class="reminder-cards mt-5">
        <div v-if="selectedDateReminders.length > 0"></div>
        <div v-else class="no-reminders">
          No medication reminders for the selected date.
          <lottie-loader
            :url="'/lottie/drug.json'"
            :width="'300px'"
            class="mt-5"
          />
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import firebase from "firebase/app";
import LottieLoader from "@/components/LottieLoader.vue";
export default {
  components: { LottieLoader },
  data() {
    return {
      name: "",
      selectedDate: new Date(),
      reminders: [],
    };
  },
  mounted() {
    this.userName();
  },
  computed: {
    selectedDateReminders() {
      return this.reminders.filter(
        (reminder) => reminder.date === this.selectedDate
      );
    },
    formattedSelectedDate() {
      return this.selectedDate.toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
      });
    },
    futureDateRange() {
      const currentDate = new Date();
      const dateRange = [];
      for (let i = 0; i < 365; i++) {
        const date = new Date(currentDate);
        date.setDate(date.getDate() + i);
        const dateObject = {
          month: date.toLocaleDateString("en-US", { month: "short" }),
          year: date.toLocaleDateString("en-US", { year: "numeric" }),
          day: date.toLocaleDateString("en-US", { day: "numeric" }),
          weekday: date.toLocaleDateString("en-US", { weekday: "short" }),
          selected: false,
        };

        dateRange.push(dateObject);
      }
      return dateRange;
    },
  },
  methods: {
    async userName() {
      const user = firebase.auth().currentUser;
      if (!user) return;
      this.name = await this.$dbGet(`users/${user.uid}/name`);
    },
    async loadReminders(medicineId) {
      const user = firebase.auth().currentUser;
      if (!user) return;

      if (!medicineId) return null;
      var reminders = await this.$dbGet(
        `users/${user.uid}/medicines/${medicineId}`
      );
      return reminders || null;
    },
    selectDate(date) {
      this.selectedDate = new Date(
        date.month + " " + date.day + ", " + date.year
      );
      this.futureDateRange.forEach((d) => (d.selected = false));
      date.selected = true;
    },
  },
};
</script>

<style scoped>
.selected {
  background-color: #4b4f7d;
  color: white;
}

.home {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}

.selected-date {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.date-carousel {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  margin: 20px 0;
}

.date-items {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.date-item {
  flex: 0 0 auto;
  width: 80px;
  height: 100px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  text-align: center;
}

.date-item.selected {
  background-color: #4b4f7d;
  color: white;
}

.date-text {
  font-size: 14px;
}

.date-month {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.date-day {
  font-size: 24px;
  font-weight: bold;
}

.date-weekday {
  font-size: 14px;
  text-transform: uppercase;
}
.no-reminders {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #888;
}
</style>
