<template>
  <v-container class="setting">
    <v-row align="center">
      <v-col cols="12">
        <h3 class="title">Pill scanner</h3>
      </v-col>
      <v-col class="button-col">
        <v-btn @click="openCamera" class="custom-button"
          >Take Prescription</v-btn
        >
      </v-col>
      <v-col class="button-col">
        <v-file-input
          id="select-file"
          style="display: none; opacity: 0"
          @change="uploadPrescription()"
          accept="image/*"
          v-model="file"
          truncate-length="15"
          class="custom-button"
        ></v-file-input>
        <v-btn @click="chooseFile" class="custom-button"
          >Upload Prescription</v-btn
        >
      </v-col>
      <v-col cols="12" class="image-col">
        <img
          v-if="imageURL"
          :src="imageURL"
          alt="Prescription"
          class="uploaded-image"
        />
      </v-col>
    </v-row>
    <div v-if="imageURL">
      <button class="btn" @click="extractText">Extract Text</button>
    </div>
    <div v-if="loading">
      <h2>Loading...<span class="loader"></span></h2>
    </div>
    <div v-if="preprocessedImageURL">
      <h2>Preprocessed Image</h2>
      <img
        :src="preprocessedImageURL"
        alt="Preprocessed Image"
        class="uploaded-image"
      />
    </div>
    <div v-if="extractedText">
      <h2>Extracted Text</h2>
      <p>{{ extractedText }}</p>
    </div>
  </v-container>
</template>

<script>
import { Camera, CameraResultType, CameraSource } from "@capacitor/camera";
import firebase from "firebase/app";
import Tesseract from "tesseract.js";
import preprocessImage from "@/preprocess";

export default {
  data() {
    return {
      imageURL: "",
      file: null,
      extractedText: null,
      loading: false,
      preprocessedImageURL: null,
      startTime: null,
      endTime: null,
      prescriptionText: `
Diagnose: phù nề bao qui đầu
Medicines:
1/ Medicine Name: Cerepone Dry 125mg/5ml (Cefprozil 125mg/5ml)
Medicine Name: Cerepone Dry 125mg/5ml (Cefprozil 125mg/5ml)
Total Quantity: 15 Túi
Unit: gói
Note: Ngày uống 1.5 gói, chia 2 lần
2/ Medicine Name: Ibufen D 100 mg/5ml, 120ml (Ibuprofen)
Total Quantity: 1
Unit: chai
Note: Uống 2.5 ml khi sốt >= 38,5 độ cách 4-6 h
3/ Medicine Name: Thymorosin 300mg/50ml (Thymomodulin)
Total Quantity: 1
Unit: chai
Note: Ngày uống ml lần
4/ Medicine Name: Kidafort 60ml (Sắt, Vitamin, AcidAmin....)
Total Quantity: 1
Unit: lo
Note: Ngày uống 7ml chia 2 lần
5/ Medicine Name: Calciumgeral 150 ml (Calcium, Vitamin D3)
Total Quantity: 1
Unit: lo
Note: Ngày uống 10ml chia 2 lần
Note: * Nếu bất thường vào viện nơi gần nhất.
* Khám lại sau 3 ngày!
* Khám lại xin mang theo đơn này.
`,
    };
  },
  mounted() {
    this.getPrescriptionUrl();
  },
  methods: {
    parsePrescriptionText(prescriptionText) {
      const prescriptionInfo = { Diagnose: "", Medicines: [] };
      const lines = prescriptionText
        .split("\n")
        .filter((line) => line.trim() !== "");

      // Extract Diagnose
      prescriptionInfo.Diagnose = lines
        .find((line) => line.startsWith("Diagnose:"))
        .split(":")[1]
        .trim();
      // Extract Medicines
      const medicineLines = lines.slice(lines.indexOf("Medicines:") + 1);
      const medicineGroups = this.groupMedicineLines(medicineLines);

      medicineGroups.forEach((group) => {
        const medicine = {};
        group.forEach((line) => {
          if (line.includes("Medicine Name")) {
            // Handle "Medicine Name" line separately
            medicine["Medicine Name"] = line.split(":")[1].trim();
          } else {
            const [key, value] = line.split(":").map((item) => item.trim());
            if (key && value) {
              medicine[key] = value;
            }
          }
        });
        prescriptionInfo.Medicines.push(medicine);
      });

      return prescriptionInfo;
    },
    logSeparatedValues() {
      const prescriptionInfo = this.parsePrescriptionText(
        this.prescriptionText
      );
      console.log("Diagnose:", prescriptionInfo.Diagnose);

      prescriptionInfo.Medicines.forEach((medicine, index) => {
        console.log(
          `Medicine ${index + 1} - Medicine Name:`,
          medicine["Medicine Name"]
        );
        console.log(
          `Medicine ${index + 1} - Total Quantity:`,
          medicine["Total Quantity"]
        );
        console.log(`Medicine ${index + 1} - Unit:`, medicine["Unit"]);
        console.log(`Medicine ${index + 1} - Note:`, medicine["Note"]);
      });
    },

    groupMedicineLines(lines) {
      const groups = [];
      let currentGroup = [];

      lines.forEach((line) => {
        if (/^\d+\//.test(line)) {
          // Start of a new medicine group
          if (currentGroup.length > 0) {
            groups.push(currentGroup);
            currentGroup = [];
          }
        }
        currentGroup.push(line);
      });

      if (currentGroup.length > 0) {
        groups.push(currentGroup);
      }

      return groups;
    },
    chooseFile() {
      document.querySelector("#select-file").click();
    },
    async openCamera() {
      const image = await Camera.getPhoto({
        quality: 90,
        resultType: CameraResultType.DataUrl,
        source: CameraSource.Camera,
      });

      this.file = image.dataUrl;
      this.uploadPrescription();
    },
    async uploadPrescription() {
      const user = firebase.auth().currentUser;
      if (!user) {
        return;
      }
      var imageURL = await this.$upload(
        this.file,
        `images/${user.uid}/${Date.now()}.jpg`
      );
      this.imageURL = imageURL;
      await this.$dbSet(`images/${user.uid}/prescription`, imageURL);
    },
    async getPrescriptionUrl() {
      const user = firebase.auth().currentUser;
      if (!user) {
        return;
      }
      this.imageURL = await this.$dbGet(`images/${user.uid}/prescription`);
    },
    async extractText() {
      if (this.imageURL) {
        this.loading = true;
        this.startTime = Date.now();

        const image = new Image();
        image.src = this.imageURL;
        image.crossOrigin = "Anonymous";
        image.onload = () => {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          canvas.width = image.width;
          canvas.height = image.height;
          ctx.drawImage(image, 0, 0);

          // Preprocess the image using the preprocessImage function
          const preprocessedImage = preprocessImage(canvas);

          // Convert the preprocessed image data back to a URL or Data URL
          canvas.width = preprocessedImage.width;
          canvas.height = preprocessedImage.height;
          ctx.putImageData(preprocessedImage, 0, 0);
          const preprocessedImageURL = canvas.toDataURL("image/jpeg");
          this.preprocessedImageURL = preprocessedImageURL;

          Tesseract.recognize(this.imageURL, ["vie", "eng"], {
            logger: (m) => console.log(m),
          })
            .then(({ data: { text } }) => {
              this.endTime = Date.now();
              const elapsedTime = (this.endTime - this.startTime) / 1000;

              console.log(`OCR took ${elapsedTime} seconds`);
              this.extractedText = text;
            })
            .finally(() => {
              this.loading = false;
            });
        };
      }
    },
  },
};
</script>

<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.file-input {
  display: none;
}
.uploaded-image {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 5px;
}
.custom-button {
  flex: 1;
  margin: 5px;
}
</style>
