<template>
  <v-container class="setting">
    <v-row>
      <v-col cols="12" justify="center" class="mt-5" align="center">
        <h3 class="title">Add reminder</h3>
        <h2>{{ displayTitle }}</h2>
        <v-form ref="form" v-model="valid" @submit.prevent="createReminder">
          <h3 class="text-left" style="color: black">Prescription's name</h3>
          <v-text-field
            class="name"
            label="Prescription name"
            required
            hide-details
            outlined
            :error-messages="inputError"
            @input="resetErrors"
            v-model="data.prescription"
          ></v-text-field>
          <h3 class="text-left" style="color: black">Diagnose</h3>
          <v-text-field
            class="name"
            required
            hide-details
            outlined
            v-model="data.diagnose"
            label="Diagnose"
          ></v-text-field>
          <h3 class="text-left" style="color: black">Date</h3>
          <v-text-field
            class="name"
            required
            hide-details
            outlined
            v-model="data.date"
            label="Date"
          ></v-text-field>
          <h3 class="text-left mt-5" style="color: black">Medicines</h3>

          <div
            v-for="(medicine, index) in data.medicines"
            :key="'medicine_' + index"
          >
            <v-row>
              <v-col cols="2">
                <h3 class="text-left" style="color: black">{{ index + 1 }}:</h3>
              </v-col>
              <v-col>
                <v-text-field
                  class="name"
                  label="Medicine name"
                  required
                  hide-details
                  outlined
                  v-model="medicine.drugName"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <h3 class="text-left" style="color: black">Total Quantity</h3>
                <v-text-field
                  class="name"
                  required
                  hide-details
                  outlined
                  v-model="medicine.quantity"
                  label="Total Quantity"
                ></v-text-field>
              </v-col>
              <v-col>
                <h3 class="text-left" style="color: black">Unit</h3>
                <v-select
                  class="name"
                  v-model="medicine.unit"
                  label="Tablet"
                  outlined
                  required
                  :items="unitOptions"
                  hide-details
                ></v-select>
              </v-col>
            </v-row>
            <h3 class="text-left" style="color: black">Note</h3>
            <v-text-field
              class="name"
              required
              hide-details
              outlined
              v-model="medicine.note"
              label="Note"
            ></v-text-field>
            <v-btn @click="removeMedicine(index)" icon fab>
              <v-icon small>mdi-close</v-icon>
            </v-btn>
          </div>

          <div class="d-flex justify-center">
            <v-btn
              color="#4b4f7d"
              block
              style="height: 36px !important"
              class="mt-1 text-uppercase white--text"
              @click="addMedicine"
            >
              <v-icon small class="mr-1">mdi-plus</v-icon>
              Add medicine
            </v-btn>
          </div>
          <h3 class="text-left" style="color: black">Time</h3>
          <div
            v-for="(dose, index) in data.doses"
            :key="index"
            class="mt-2 d-flex align-center"
          >
            <div>
              <h3 class="dose-label" style="color: black">
                Time {{ index + 1 }}
              </h3>
            </div>
            <v-spacer></v-spacer>
            <div class="countdown" @click="handleTimeClicked(index)">
              <div class="countdown__block">
                <div class="countdown__digit">
                  {{ dose.time | formatHour }}
                </div>
                <div class="countdown__text">Hrs</div>
              </div>
              <div class="countdown__block">
                <div class="countdown__digit">
                  {{ dose.time | formatMinute }}
                </div>
                <div class="countdown__text">Min</div>
              </div>
              <v-btn
                @click="removeTimeSlot(index)"
                icon
                fab
                style="
                  width: 40px !important;
                  border-radius: 100%;
                  margin-left: 10px;
                "
              >
                <v-icon small>mdi-close</v-icon>
              </v-btn>
            </div>
          </div>
          <div class="d-flex justify-center">
            <v-btn
              color="#4b4f7d"
              block
              style="height: 36px !important"
              class="mt-1 text-uppercase white--text"
              @click="addTimeSlot"
            >
              <v-icon small class="mr-1">mdi-plus</v-icon>
              Add dose
              {{ data.doses.length + 1 }}
            </v-btn>
          </div>
          <div class="d-flex mt-5">
            <v-select
              class="name"
              v-model="data.remindBeforeMinutes"
              :items="optionsBeforeMinutes"
              label="Remind before"
              outlined
              required
              hide-details
              style="width: 45% !important"
            ></v-select>
            <v-spacer></v-spacer>
            <v-select
              class="name"
              v-model="data.repeatType"
              :items="repeatTypeOptions"
              label="Remind"
              outlined
              required
              hide-details
              style="width: 45% !important"
              @change="data.loopPatterns = []"
            ></v-select>
          </div>
          <week-day-picker
            class="mt-5"
            v-model="data.loopPatterns"
            v-if="data.repeatType == 2"
          />
          <month-day-picker
            class="mt-5"
            v-model="data.loopPatterns"
            v-if="data.repeatType == 3"
          />
          <v-text-field
            class="name mt-5"
            v-model="data.loopPatterns[0]"
            label="Input date"
            placeholder="DD/MM"
            outlined
            hide-details
            v-mask="'##/##'"
            v-if="data.repeatType == 4"
          ></v-text-field>
          <v-text-field
            class="name mt-5"
            v-model="data.loopPatterns[0]"
            label="Input date"
            placeholder="DD/MM/YYYY"
            outlined
            hide-details
            v-mask="'##/##/####'"
            v-if="data.repeatType == 0"
          ></v-text-field>

          <h3 class="text-left" style="color: black">Choose icon</h3>
          <IconChooser v-model="data.selectedIcon" :iconOptions="iconOptions" />
          <div>
            <v-btn
              class="mt-4 mb-2 text-uppercase"
              v-if="medicineId && editable"
              block
              @click="completed"
              :loading="loading"
              color="success"
              dark
              style="width: 48%"
            >
              <v-icon left> mdi-check </v-icon>
              Completed
            </v-btn>
            <v-btn
              style="background-color: rgb(38, 38, 106); width: 48%"
              type="submit"
              class="white--text mt-4 mb-2"
              :loading="loading"
              :disabled="!valid"
              :block="medicineId ? false : true"
              ><v-icon left> mdi-content-save-outline </v-icon>Save</v-btn
            >
          </div>
        </v-form>
      </v-col>
      <v-snackbar top color="green" v-model="snackbar">
        Adding reminder successfully
      </v-snackbar>
    </v-row>
    <popup-time-picker ref="PopupTimePicker" @onValue="handlePopupTimePicker" />
  </v-container>
</template>
<script>
import firebase from "firebase";
import { uuidv4 } from "@/plugins/helper";
import moment from "moment";
import PopupTimePicker from "@/components/PopupTimePicker.vue";
import WeekDayPicker from "@/components/WeekDayPicker.vue";
import MonthDayPicker from "@/components/MonthDayPicker.vue";
import IconChooser from "@/components/IconChooser.vue";

function twoDigits(value) {
  if (value.toString().length <= 1) {
    return "0" + value.toString();
  }
  return value.toString();
}

export default {
  components: {
    PopupTimePicker,
    WeekDayPicker,
    MonthDayPicker,
    IconChooser,
  },
  data() {
    return {
      iconOptions: [
        { icon: "mdi-pill", color: "blue" },
        { icon: "mdi-pill", color: "red" },
        { icon: "mdi-pill", color: "yellow" },
        { icon: "mdi-minus-circle", color: "black" },
        { icon: "mdi-needle", color: "black" },
      ],
      repeatTypeOptions: [
        { text: "No Repeat", value: 0 },
        { text: "Daily", value: 1 },
        { text: "Weekly", value: 2 },
        { text: "Monthly", value: 3 },
        { text: "Yearly", value: 4 },
      ],
      optionsBeforeMinutes: [
        {
          text: "15 minutes",
          value: 15,
        },
        {
          text: "30 minutes",
          value: 30,
        },
        {
          text: "60 minutes",
          value: 60,
        },
        {
          text: "1 day",
          value: 24 * 60,
        },
        {
          text: "3 days",
          value: 3 * 24 * 60,
        },
      ],
      medicineId: null,
      snackbar: false,
      loading: false,
      valid: false,
      menu: false,
      data: {
        medicineId: uuidv4(),
        medicines: [
          {
            drugName: "",
            quantity: "",
            unit: "",
            note: "",
          },
        ],
        prescription: "",
        diagnose: "",
        date: "",
        doses: [{ time: "09:00" }],
        remindBeforeMinutes: 15,
        loopPatterns: [],
        dateCreated: moment().format(),
        dateUpdated: moment().format(),
        repeatType: 1,
        message: "Time to get medicine",
        selectedIcon: "",
        userCreatedId: null,
      },
      unitOptions: ["Tablet", "Packet", "Drop", "Bottle", "Ampoule", "mL"],
      inputError: "",
      formErrors: false,
      medicineData: null,
    };
  },
  async mounted() {
    this.data.userCreatedId = this.$uid;
    if (this.$route.params.id) {
      this.render(this.$route.params.id);
    }
  },
  watch: {
    getViewMedicine(val) {
      if (!val) return;
      this.render(val);
    },
  },
  computed: {
    displayTitle() {
      return this.data.prescription
        ? this.data.prescription
        : "Prescription's name";
    },
    editable() {
      return (
        this.data &&
        this.data.userCreatedId &&
        this.data.userCreatedId == this.$uid &&
        this.data.isActive
      );
    },
  },
  created() {
    this.loadMedicineData();
  },
  methods: {
    addMedicine() {
      this.data.medicines.push({
        drugName: "",
        quantity: "",
        unit: "",
        note: "",
      });
    },
    removeMedicine(index) {
      this.data.medicines.splice(index, 1);
    },
    resetErrors() {
      this.inputError = "";
      this.formErrors = false;
    },
    async createReminder() {
      this.resetErrors();
      if (!this.data.prescription) {
        this.inputError = "Input is required";
        this.formErrors = true;
      }
      if (this.formErrors) {
        return;
      }
      const user = firebase.auth().currentUser;
      if (!user) return;

      this.loading = true;
      var medicineId = this.medicineId || this.data.medicineId;
      await this.$dbSet(`users/${user.uid}/medicines/${medicineId}`, this.data);
      await this.$dbSet(
        `users/${user.uid}/medicinesInProgress/${medicineId}`,
        true
      );
      this.loading = false;
      this.$router.push("/history");
    },
    async loadMedicineData() {
      const user = firebase.auth().currentUser;
      if (!user) return;

      try {
        const medicineData = await this.$dbGet(
          `users/${user.uid}/medicines/${this.medicineId}`
        );
        this.medicineData = medicineData || {};
      } catch (error) {
        console.error("Error fetching medicine data:", error);
      }
    },
    async render(medicineId) {
      if (!medicineId) return;
      this.medicineId = medicineId;
      const user = firebase.auth().currentUser;
      if (!user) return;
      var data = await this.$dbGet(`users/${user.uid}/medicines/${medicineId}`);
      if (!data) return;
      this.data = data;
    },
    async completed() {
      var medicineId = this.medicineId || this.data.medicineId;
      if (!medicineId) return;
      this.loading = true;
      await this.sleep(1200);
      this.loading = false;
      this.$router.push("/history");
    },
    addDose() {
      this.data.doses.push({ time: "" });
    },

    removeDose(index) {
      this.data.doses.splice(index, 1);
    },
    showTimePicker(index) {
      // Show the time picker dialog
      this.$refs.timePickers[index].open();
    },
    handlePopupTimePicker({ keyId, value }) {
      if (keyId == null || keyId == undefined) return;
      this.data.doses[keyId].time = value;
      this.$forceUpdate();
    },
    addTimeSlot() {
      this.data.doses.push({
        time: moment()
          .set({ hour: 9 + 4 * this.data.doses.length, minute: 0 })
          .format("HH:mm"),
      });
    },
    removeTimeSlot(ind) {
      this.data.doses.splice(ind, 1);
    },
    handleTimeClicked(ind) {
      this.$refs.PopupTimePicker.open(ind);
    },
  },
  filters: {
    formatHour(timeSlot) {
      var value = timeSlot.split(":")[0] || "";
      return twoDigits(value);
    },
    formatMinute(timeSlot) {
      var value = timeSlot.split(":")[1] || "";
      return twoDigits(value);
    },
  },
};
</script>
<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
.name {
  background-color: white;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.countdown {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  &__block {
    text-align: center;
    padding: 0px 15px;
    position: relative;
    &:first-child {
      padding-left: 0;
      .countdown__digit {
        &:before {
          display: none;
        }
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__text {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__digit {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 3px;
    letter-spacing: 0.25rem;
    margin-left: 8px;
    &:before {
      content: ":";
      position: absolute;
      left: -5px;
    }
  }
}
</style>
