<template>
  <v-container class="setting">
    <medicine-input />
    <v-btn
      icon
      style="
        top: 55px;
        z-index: 50;
        left: 40px;
        position: absolute;
        background-color: rgb(255, 255, 255);
      "
      @click="back"
    >
      <v-icon large color="black" class="pa-5">mdi-arrow-left</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
import MedicineInput from "@/views/MedicineInput.vue";
export default {
  components: { MedicineInput },
  computed: {},
  data() {
    return {
      tab: 1,
    };
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>
<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
</style>
