<template>
  <v-container class="setting">
    <v-row align="center">
      <v-col cols="12">
        <h3 class="title">Pill scanner</h3>
      </v-col>
      <v-col class="button-col">
        <v-btn @click="openCamera" class="custom-button"
          >Take Prescription</v-btn
        >
      </v-col>
      <v-col class="button-col">
        <v-file-input
          id="select-file"
          style="display: none; opacity: 0"
          @change="uploadPrescription()"
          accept="image/*"
          v-model="file"
          truncate-length="15"
          class="custom-button"
        ></v-file-input>
        <v-btn @click="chooseFile" class="custom-button"
          >Upload Prescription</v-btn
        >
      </v-col>
      <v-col cols="12" class="image-col">
        <img
          v-if="imageURL"
          :src="imageURL"
          alt="Prescription"
          class="uploaded-image"
        />
      </v-col>
    </v-row>
    <div v-if="imageURL">
      <button class="btn" @click="extractText">Extract Text</button>
    </div>
    <div v-if="loading">
      <h2>Loading...<span class="loader"></span></h2>
    </div>
    <div v-if="preprocessedImageURL">
      <h2>Preprocessed Image</h2>
      <img
        :src="preprocessedImageURL"
        alt="Preprocessed Image"
        class="uploaded-image"
      />
    </div>
    <div v-if="extractedText">
      <h2>Extracted Text</h2>
      <p>{{ extractedText }}</p>
    </div>
    <button class="btn" @click="restructureAndExtractText">
      Restructure and Extract Text
    </button>

    <!-- Display the restructured text -->
    <div v-if="restructuredText">
      <h2>Restructured Text</h2>
      <v-textarea
        class="name mt-5"
        v-model="restructuredText"
        required
        hide-details
        outlined
        rows="5"
      ></v-textarea>
      <v-btn
        @click="routeToMedicineInput"
        style="background-color: #7d1024"
        class="white--text"
      >
        Click here to go to medicine input
      </v-btn>
    </div>
  </v-container>
</template>

<script>
import { Camera, CameraResultType, CameraSource } from "@capacitor/camera";
import firebase from "firebase/app";
//import Tesseract from "tesseract.js";
import preprocessImage from "@/preprocess";
import axios from "axios";
import helper from "@/plugins/helper";

export default {
  data() {
    return {
      imageURL: "",
      file: null,
      extractedText: null,
      loading: false,
      preprocessedImageURL: null,
      restructuredText: null,
      startTime: null,
      endTime: null,
      restructuringTime: null,
    };
  },
  mounted() {
    this.getPrescriptionUrl();
  },
  methods: {
    routeToMedicineInput() {
      this.$router.push("/medicinefill");
    },
    chooseFile() {
      document.querySelector("#select-file").click();
    },
    async openCamera() {
      const image = await Camera.getPhoto({
        quality: 90,
        resultType: CameraResultType.DataUrl,
        source: CameraSource.Camera,
      });

      this.file = image.dataUrl;
      this.uploadPrescription();
    },
    async uploadPrescription() {
      const user = firebase.auth().currentUser;
      if (!user) {
        return;
      }
      var imageURL = await this.$upload(
        this.file,
        `images/${user.uid}/${Date.now()}.jpg`
      );
      this.imageURL = imageURL;
      await this.$dbSet(`images/${user.uid}/prescription`, imageURL);
    },
    async getPrescriptionUrl() {
      const user = firebase.auth().currentUser;
      if (!user) {
        return;
      }
      this.imageURL = await this.$dbGet(`images/${user.uid}/prescription`);
    },
    async extractText() {
      if (this.imageURL) {
        this.loading = true;
        this.startTime = Date.now();

        const image = new Image();
        image.src = this.imageURL;
        image.crossOrigin = "Anonymous";
        image.onload = () => {
          const canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          canvas.width = image.width;
          canvas.height = image.height;
          ctx.drawImage(image, 0, 0);

          // Preprocess the image using the preprocessImage function
          const preprocessedImage = preprocessImage(canvas);

          // Convert the preprocessed image data back to a URL or Data URL
          canvas.width = preprocessedImage.width;
          canvas.height = preprocessedImage.height;
          ctx.putImageData(preprocessedImage, 0, 0);
          const preprocessedImageURL = canvas.toDataURL("image/jpeg");
          this.preprocessedImageURL = preprocessedImageURL;
          this.detectTextWithGoogleVision(this.imageURL);
        };
      }
    },
    async structureTextWithOpenAI(text) {
      try {
        const apiKey = "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"; // Replace with your actual OpenAI API key
        const apiUrl = "https://api.openai.com/v1/completions"; // Check OpenAI API documentation for the correct endpoint

        const requestBody = {
          prompt: `Given the following medical prescription, extract relevant key-value pairs of information, keeping each key before its corresponding value. This must include Diagnose, Date and Medicines, with each medicine must have: Medicine name, Total Quantity, Unit, and Dosage, other irrelevant information must be removed. Note that a single prescription may contain multiple medicines. Ensure to follow the form: Diagnose:
          Date: 
Medicines:
1/ Medicine Name: 
Total Quantity:
Unit:
Dosage:
2/ Medicine Name:
Total Quantity:
Unit:
Dosage:
...
\n${text}`,
          max_tokens: 600,
          model: "gpt-3.5-turbo-instruct",
        };

        const headers = {
          Authorization: `Bearer ${apiKey}`,
          "Content-Type": "application/json",
        };

        const response = await axios.post(apiUrl, requestBody, { headers });
        const structuredText = response.data.choices[0].text;

        return structuredText;
      } catch (error) {
        console.error("Error structuring text with OpenAI API:", error);
        return "Text structuring failed.";
      }
    },
    async restructureAndExtractText() {
      if (this.imageURL) {
        this.loading = true;
        this.startTime = Date.now();

        try {
          // Call the restructureTextWithOpenAI method to get the restructured text
          const restructuredText = await this.structureTextWithOpenAI(
            this.extractedText
          );

          // Set the restructured text in the component's data
          this.restructuredText = restructuredText;
          helper.restructuredText = restructuredText;
          this.endTime = Date.now();
          this.restructuringTime = (this.endTime - this.startTime) / 1000;
          console.log("Restructuring Time:", this.restructuringTime, "seconds");
        } catch (error) {
          console.error("Error restructuring and extracting text:", error);
        } finally {
          this.loading = false;
        }
      }
    },
    async detectTextWithGoogleVision(imageURL) {
      try {
        const apiKey = "AIzaSyBGkb9yt0XPlGFhyYejpZ3AiEhvXCn0Yqo"; // Replace with your actual API key
        const apiUrl = `https://vision.googleapis.com/v1/images:annotate?key=${apiKey}`;
        const requestBody = {
          requests: [
            {
              image: {
                source: {
                  imageUri: imageURL,
                },
              },
              features: [
                {
                  type: "DOCUMENT_TEXT_DETECTION",
                },
              ],
            },
          ],
        };

        const response = await axios.post(apiUrl, requestBody);
        const textAnnotations = response.data.responses[0].textAnnotations;

        if (textAnnotations && textAnnotations.length > 0) {
          // Extract the detected text
          const extractedText = textAnnotations[0].description;
          this.extractedText = extractedText;
        } else {
          this.extractedText = "No text detected.";
        }
        this.endTime = Date.now();
        const processingTime = (this.endTime - this.startTime) / 1000;
        console.log("OCR Processing Time:", processingTime, "seconds");
      } catch (error) {
        console.error("Error detecting text with Google Cloud Vision:", error);
        this.extractedText = "Text detection failed.";
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.file-input {
  display: none;
}
.uploaded-image {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 5px;
}
.custom-button {
  flex: 1;
  margin: 5px;
}
</style>
