<template>
  <v-container class="setting">
    <v-row>
      <v-col cols="12" justify="center" class="mt-5" align="center">
        <h3 class="title">Personal Information</h3>
        <v-avatar class="mt-5" size="96px" style="border-radius: 50%">
          <img alt="Avatar" :src="info.avatar || '/icons/user.png'" />
        </v-avatar>
        <div class="w-100" style="text-align: center">
          <choose-file v-model="info.avatar" />
        </div>
        <v-form v-model="valid" @submit.prevent="addInfo">
          <v-text-field
            class="name"
            v-model="info.name"
            label="Name"
            required
            hide-details
            outlined
            prepend-inner-icon="mdi-account"
          ></v-text-field>
          <v-select
            class="name mt-5"
            v-model="info.gender"
            label="Gender"
            required
            hide-details
            outlined
            :items="genderOptions"
            prepend-inner-icon="mdi-account"
          ></v-select>
          <v-row class="mt-5">
            <v-col align="left">
              <v-flex>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="info.date"
                  transition="scale-transition"
                  min-width="290px"
                  offset-y
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      class="name"
                      v-model="info.date"
                      label="Date of Birth"
                      hide-details
                      outlined
                      v-on="on"
                      prepend-inner-icon="mdi-calendar-month"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-if="info.date"
                    v-model="info.date"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn color="primary" @click="$refs.menu.save(info.date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-flex>
            </v-col>
            <v-col>
              <v-text-field
                v-model="info.age"
                class="name"
                label="Age"
                outlined
                hide-details
                prepend-inner-icon="mdi-calendar-account"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-text-field
            class="name mt-5"
            v-model="info.profileID"
            label="Profile ID"
            required
            hide-details
            outlined
            prepend-inner-icon="mdi-account"
          ></v-text-field>
          <v-row>
            <v-col cols="12" justify="center">
              <v-btn
                block
                style="background-color: #e6e0d6"
                type="submit"
                class="black--text mt-5"
                :loading="loading"
                :disabled="!valid"
              >
                Save
              </v-btn>
            </v-col>
            <v-col cols="12" justify="center">
              <v-btn
                block
                style="background-color: rgb(38, 38, 106)"
                @click="logoutFromFirebase"
                class="white--text mt-5"
              >
                Log out
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import firebase from "firebase/app";
import ChooseFile from "@/components/ChooseFile.vue";
import { getLocalStorage, removeLocalStorage } from "@/plugins/helper";
export default {
  components: {
    ChooseFile,
  },
  data: () => ({
    menu: false,
    loading: false,
    valid: false,
    info: {
      name: "",
      date: "",
      age: "",
      gender: "",
      profileID: "",
      avatar: "",
    },
    genderOptions: ["Male", "Female", "Other"],
  }),
  mounted() {
    this.RenderInfo();
  },
  watch: {
    "info.date": function (newDate) {
      if (newDate) {
        this.info.age = this.calculateAge(newDate);
      }
    },
  },
  methods: {
    async logoutFromFirebase() {
      const user = firebase.auth().currentUser;
      var deviceToken = getLocalStorage("FcmDeviceToken");
      if (deviceToken) {
        await this.$dbRemove(
          `deviceToken//${user.uid}/${this.$uid}/${deviceToken}`
        );
        removeLocalStorage("FcmDeviceToken");
      }
      await firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("/login"); // Navigate to the appropriate route after logout
        });
    },
    async RenderInfo() {
      const user = firebase.auth().currentUser;
      if (!user) return;
      this.info = {
        name: await this.$dbGet(`users/${user.uid}/name`),
        date: await this.$dbGet(`users/${user.uid}/date`),
        age: await this.$dbGet(`users/${user.uid}/age`),
        gender: await this.$dbGet(`users/${user.uid}/gender`),
        avatar: await this.$dbGet(`users/${user.uid}/avatar`),
        profileID: await this.$dbGet(`users/${user.uid}/profileID`),
      };
    },
    async addInfo() {
      const user = firebase.auth().currentUser;
      if (!user) return;
      this.loading = true;
      await this.$dbSet(`users/${user.uid}/name`, this.info.name);
      await this.$dbSet(`users/${user.uid}/date`, this.info.date);
      await this.$dbSet(`users/${user.uid}/age`, this.info.age);
      await this.$dbSet(`users/${user.uid}/gender`, this.info.gender);
      await this.$dbSet(`users/${user.uid}/profileID`, this.info.profileID);
      await this.$dbSet(`users/${user.uid}/avatar`, this.info.avatar);
      this.loading = false;
    },

    calculateAge() {
      const today = new Date();
      const birthDate = new Date(this.info.date);
      let age = today.getFullYear() - birthDate.getFullYear();
      const monthDifference = today.getMonth() - birthDate.getMonth();
      if (
        monthDifference < 0 ||
        (monthDifference === 0 && today.getDate() < birthDate.getDate())
      ) {
        age--;
      }
      return age;
    },
  },
};
</script>
<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #f3f3f6;
  max-width: 100%;
  height: 100%;
}
.name {
  background-color: white;
}
h3.title {
  background-color: #4b4f7d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
</style>
