<template>
  <div class="icon-carousel">
    <div class="icon-items">
      <div
        v-for="(iconOption, index) in iconOptions"
        :key="`icon-${index}`"
        class="icon-item"
        :class="{ selected: iconOption === value }"
        @click="selectIcon(iconOption)"
      >
        <v-icon
          :color="iconOption.color"
          :class="{ 'selected-icon': iconOption === value }"
          size="48"
        >
          {{ iconOption.icon }}
        </v-icon>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: [String, Object],
    iconOptions: Array,
  },
  data() {
    return {
      selectedIcon: this.value,
    };
  },
  methods: {
    selectIcon(iconOption) {
      this.$emit("input", iconOption);
    },
  },
};
</script>
<style scoped>
.icon-carousel {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  margin: 20px 0;
}

.icon-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.icon-item {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  text-align: center;
}

.icon-item.selected {
  border: 1px solid #4b4f7d;
  border-radius: 10px;
  color: white;
}
</style>
