<template>
  <div class="div_background d-flex">
    <v-layout>
      <v-col cols="10" lg="4" class="mx-auto">
        <v-card class="pa-4" style="margin-top: 100px">
          <div class="text-center">
            <v-avatar size="100" color="indigo lighten-4">
              <v-icon size="40" style="color: #383a68">mdi-pill</v-icon>
            </v-avatar>
            <h2 class="indigo--text">Login</h2>
          </div>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="login"
          >
            <v-text-field
              v-model="email"
              type="email"
              :rules="emailRules"
              label="E-mail"
              required
              placeholder="Email"
              prepend-inner-icon="mdi-account"
            ></v-text-field>

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              label="Password"
              placeholder="Password"
              prepend-inner-icon="mdi-key"
              required
              :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
              :type="passwordShow ? 'text' : 'password'"
              @click:append="passwordShow = !passwordShow"
            ></v-text-field>
            <v-switch
              v-model="rememberMe"
              label="Remember me"
              color="indigo"
            ></v-switch>

            <div class="text-center">
              <v-btn :disabled="!valid" color="success" type="submit">
                Login
              </v-btn>

              <!-- <v-btn color="error" @click="reset"> Reset Form </v-btn> -->
            </div>
          </v-form>
          <div class="register-login-container">
            <div class="or-line">
              <span class="or-text">OR</span>
            </div>
            <div class="create-account">
              Don't have an account?
              <router-link to="/signup">Create new account</router-link>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-snackbar top color="green" v-model="snackbar">
        Login success
      </v-snackbar>
    </v-layout>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "logIn",
  data: function () {
    return {
      email: "",
      password: "",
      snackbar: false,
      passwordShow: false,
      valid: true,
      rememberMe: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [(v) => !!v || "Password is Required"],
    };
  },
  methods: {
    login: function (e) {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          () => {
            if (this.rememberMe) {
              // Save email to local storage if "Remember me" is checked
              localStorage.setItem("rememberedEmail", this.email);
            } else {
              // Clear the remembered email from local storage
              localStorage.removeItem("rememberedEmail");
            }
            this.$router.push("/");
          },
          (err) => {
            alert(err.message);
          }
        );
      e.preventDefault();
      this.snackbar = false;
    },
  },
};
</script>
<style scoped>
.div_background {
  background-color: #f3f3f6;
  height: 100%;
}
.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.or-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.or-text {
  color: #383a68;
  background-color: #fff;
  padding: 0 10px;
}

.create-account {
  margin-bottom: 20px;
}
</style>
