<template>
  <div class="div_background d-flex">
    <v-layout>
      <v-col cols="10" lg="4" class="mx-auto">
        <v-card class="pa-4" style="margin-top: 100px">
          <div class="text-center">
            <v-avatar size="100" color="indigo lighten-4">
              <v-icon size="40" style="color: #383a68">mdi-pill</v-icon>
            </v-avatar>
            <h2 class="indigo--text">Signup</h2>
          </div>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="register"
          >
            <v-text-field
              v-model="email"
              type="email"
              :rules="emailRules"
              label="E-mail"
              required
              placeholder="Email"
              prepend-inner-icon="mdi-account"
            ></v-text-field>

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              label="Password"
              placeholder="Password"
              prepend-inner-icon="mdi-key"
              required
              :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
              :type="passwordShow ? 'text' : 'password'"
              @click:append="passwordShow = !passwordShow"
            ></v-text-field>

            <v-text-field
              v-model="confirmPassword"
              label="Confirm Password"
              :rules="passwordRules"
              required
              placeholder="Confirm Password"
              prepend-inner-icon="mdi-key"
              :append-icon="confirmPasswordShow ? 'mdi-eye' : 'mdi-eye-off'"
              :type="confirmPasswordShow ? 'text' : 'password'"
              @click:append="confirmPasswordShow = !confirmPasswordShow"
            ></v-text-field>
            <div class="text-center">
              <v-btn :disabled="!valid" color="success" type="submit">
                Register
              </v-btn>

              <!-- <v-btn color="error" @click="reset"> Reset Form </v-btn> -->
            </div>
          </v-form>
          <div class="register-login-container">
            <div class="or-line">
              <span class="or-text">OR</span>
            </div>
            <div class="create-account">
              Already have an account?
              <router-link to="/login">Login</router-link>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-layout>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  name: "SignUp",
  data: function () {
    return {
      passwordShow: false,
      confirmPasswordShow: false,
      valid: true,
      email: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      password: "",
      confirmPassword: "",
      passwordRules: [(v) => !!v || "Password and Confirm password Required"],
    };
  },
  methods: {
    register: function (e) {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          (user) => {
            // console.log(user);
            alert(`Account Created for ${user.email}`);
            this.$router.push("/");
          },
          (err) => {
            alert(err.message);
          }
        );
      e.preventDefault();
    },
  },
};
</script>
<style scoped>
.div_background {
  background-color: #f3f3f6;
  height: 100%;
}
.register-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.or-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.or-text {
  color: #383a68;
  background-color: #fff;
  padding: 0 10px;
}

.create-account {
  margin-bottom: 20px;
}
</style>
