<template>
  <v-app>
    <v-main>
      <v-bottom-navigation
        dark
        app
        style="background-color: #383a68"
        v-if="isLoggedIn"
      >
        <v-btn icon to="/">
          <span>Home</span>
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn icon @click="showDialogs">
          <span>Prescription</span>
          <v-icon>mdi-plus-box</v-icon>
        </v-btn>
        <v-btn icon to="/medicinescanter">
          <span>Scan</span>
          <v-icon>mdi-line-scan</v-icon>
        </v-btn>
        <v-btn icon to="/setting">
          <span>Setting</span>
          <v-icon>mdi-cog</v-icon>
        </v-btn>
        <v-btn icon to="/history">
          <span>History</span>
          <v-icon>mdi-history</v-icon>
        </v-btn>
      </v-bottom-navigation>
      <router-view></router-view>
    </v-main>
    <!-- Dialogs -->
    <v-dialog v-model="showScanDialog" max-width="300">
      <v-btn to="/medicinescan" bottom>
        <v-icon style="color: #383a68" left>mdi-line-scan</v-icon>Scan
        Prescription</v-btn
      >
      <v-btn class="mt-2" to="/medicineinput" bottom
        ><v-icon style="color: #383a68" left
          >mdi-receipt-text-plus-outline</v-icon
        >Add Prescription</v-btn
      >
    </v-dialog>
  </v-app>
</template>

<script>
import firebase from "firebase";
import { Capacitor } from "@capacitor/core";
import { PushNotifications } from "@capacitor/push-notifications";

export default {
  name: "app",
  data() {
    return {
      isLoggedIn: false,
      currentUser: null,
      showScanDialog: false,
      showAddDialog: false,
    };
  },
  async created() {
    const rememberedEmail = localStorage.getItem("rememberedEmail");
    if (rememberedEmail) {
      this.email = rememberedEmail;
    }
    if (Capacitor.isNativePlatform()) {
      PushNotifications.addListener("registration", async (token) => {
        var deviceToken = token.value;
        console.log("Android FCM Device Token", deviceToken);
        await this.handleDeviceToken(deviceToken);
      });
      PushNotifications.addListener(
        "pushNotificationReceived",
        (notification) => {
          console.log(
            "Push notification received: ",
            JSON.stringify(notification)
          );
          this.handleNotification({ notification });
        }
      );
    } else {
      this.$fcm.onMessage(this.handleNotification);
    }
    // This need to run AFTER the Notification listeners
    this.registerNotificationToken();
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.isLoggedIn = true;
        this.currentUser = user.email;
      } else {
        this.isLoggedIn = false;
        this.currentUser = null;
        if (this.$route.path !== "/login") {
          this.$router.push("/login");
        }
      }
    });
    console.log("this.$uid", this.$uid);
  },
  methods: {
    showDialogs() {
      this.showScanDialog = true;
      this.showAddDialog = true;
    },
  },
};
</script>
<style scoped>
.dialog-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>
